


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-section {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 50px 150px 50px 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: color-mix(in srgb, #c3c3c3, transparent 95%);
    box-shadow: 0px 0px 10px color-mix(in srgb, #1a1f24, transparent 75%)
}

#eastings {
    width: 200px;
    height: 55px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    border-bottom: color-mix(in srgb, #c3c3c3, transparent 95%);
    font-size: 22px;
    text-align: center;
}

#northings {
    height: 55px;
    width: 200px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    border-bottom: color-mix(in srgb, #c3c3c3, transparent 95%);
    font-size: 22px;
    text-align: center;
}

.input-tags {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.input-tag {
    position: relative;
}

button {
    padding: 10px;
    width: 170px;
    background-color: black;
    color: white;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border: 1px solid color-mix(in srgb, #c3c3c3, transparent 95%);
    margin-bottom: 50px;
}

#result-one {
    width: 200px;
    height: 55px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    border-bottom: color-mix(in srgb, #c3c3c3, transparent 95%);
    font-size: 22px;
    text-align: center;
}

#result-two {
    width: 200px;
    height: 55px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    border-bottom: color-mix(in srgb, #c3c3c3, transparent 95%);
    font-size: 22px;
    text-align: center;   
}

.selection-elements {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.selection-element {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px;
}

#selection-list-one {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14.5px;
}

#selection-list-two {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14.5px;
}

#label_two_e {
    position: relative;
    border: 1px solid color-mix(in srgb, #c3c3c3, transparent 95%);
    width: 204.2px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 7px;
    font-weight: 700;
    font-size: 16px;
}

#label_two_n {
    position: relative;
    border: 1px solid color-mix(in srgb, #c3c3c3, transparent 95%);
    width: 204.2px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 7px;
    font-weight: 700;
    font-size: 16px;
}

#label_one_e {
    position: relative;
    border: 1px solid color-mix(in srgb, #c3c3c3, transparent 95%);
    width: 204.2px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 7px;
    font-weight: 700;
    font-size: 16px;
}

#label_one_n {
    position: relative;
    border: 1px solid color-mix(in srgb, #c3c3c3, transparent 95%);
    width: 204.2px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 7px;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 1199px) {
    .main-section {
      margin: 50px 50px 0px 50px;
      background-color: color-mix(in srgb, #c3c3c3, transparent 86%);
      box-shadow: 0px 0px 20px color-mix(in srgb, #1a1f24, transparent 75%)
    }

    #eastings {
      width: 250px;
      height: 65px;
      font-size: 26px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; 
    }

    #northings {
      width: 250px;
      height: 65px;
      font-size: 26px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; 
    }

    #result-one {
      width: 250px;
      height: 65px;
      font-size: 26px;
    }

    #result-two {
      width: 250px;
      height: 65px;
      font-size: 26px;
    }

    #label_one_e {
    width: 275px;
    height: 40px;
    font-size: 25px;
    }

    #label_one_n {
    width: 275px;
    height: 40px;
    font-size: 25px;
    }

    #label_two_e {
    width: 275px;
    height: 40px;
    font-size: 25px;
    }

    #label_two_n {
    width: 275px;
    height: 40px;
    font-size: 25px;
    }

    h1 {
    font-size: 38px;
    }

    button {
    font-size: 25px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 100px;
    }

    #selection-list-one {
     width: 270px;
     height: 40px;
     background-color: white;
     color: black;
     font-size: 19px;
    }

     #selection-list-two {
     width: 270px;
     height: 40px;
     background-color: white;
     color: black;
     font-size: 19px;
    }

    .selection-elements {
     margin-bottom: 25px;   
    }

    .selection-elements p {
     font-size: 19px;   
    }

    .selection-element p {
     font-size: 19px;   
    }

    .input-tags {
     margin-bottom: 100px;   
    }
        

}


@media (max-width: 768px) {
    .main-section {
      margin: 25px 20px 25px 20px;
    }

    #eastings {
      width: 140px;
      height: 45px;
      font-size: 18px;
    }

    #northings {
      width: 140px;
      height: 45px;
      font-size: 18px;
    }

    #result-one {
      width: 140px;
      height: 45px;
      font-size: 18px;
    }

    #result-two {
      width: 140px;
      height: 45px;
      font-size: 18px;
    }

    #label_one_e {
    width: 144px;
    height: 27.5px;    
    }

    #label_one_n {
    width: 144px;
    height: 27.5px;
    }

    #label_two_e {
    width: 144px;
    height: 27.5px;
    }

    #label_two_n {
    width: 144px;
    height: 27.5px;
    }

    h1 {
        font-size: 25px;
    }

}
